.App {
  max-width: 860px;
  margin: 40px auto;
}

button {
  background: none;
  border: 2px solid white;
  padding: 6px 12px;
  margin: 5px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: rgb(92, 28, 129);
  border: 2px solid white;
  color: white;
}

button:disabled {
  color: yellow;
  opacity: 30%;
  cursor:auto;
}

button:disabled:hover {
  background: none;
  color: yellow;
  cursor:auto;
}

button.selected {
  background: rgb(92, 28, 129);
}

.second-menu-button {
  background: none;
  border: 2px solid rgb(141, 72, 182);
  padding: 6px 12px;
  margin: 5px;
  border-radius: 4px;
  color: rgb(141, 72, 182);
  font-weight:normal;
  cursor: pointer;
  font-size: 0.8em;
}

p {
  font-size: 20px;
}

.card-grid{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}